/* Los estilos de tu proyecto */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.navbar-toggle span {
    background: #000;
}

.nav-flex {
    display: flex;
    justify-content: flex-start;
    align-content: center;  
}

.lab-logo {
    margin-top: 30%;
    margin-left: 40%;
}

.navbar-right li a{
    color: #000;
}

/*Hero*/

.lab-hero {
    margin-top: 5em; ;
}





@media screen and (min-width: 769px) {
    .navbar-collapse {
       margin-top: 4em;
    }
} 