/* Los estilos de tu proyecto */

/*Resetendo el layout */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*Sección menú */

/*Estilo del menu hamburguesa*/
.navbar-toggle span {
    background: #000;
}

.navbar-header button {
    border: 1px solid grey;  
}

.nav-flex {
    display: flex;
    justify-content: flex-start;
    align-content: center;  
}

.navbar-right li a{
    color: #000;
}


/*Estilo del logo*/
.lab-logo {
    margin-top: 30%;
    margin-left: 50%;
}



/*Sección hero*/

.taxi-container{
    margin-top: 80px;
}

.taxi-image figure {
    width: 100%;
    height: 100vh;
    background-image: url('../assets/images/taxi.jpg');
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;  
    align-items: center;
}

.container-content { 
    background-color: #ffa914;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;   
}

.container-content h1   {
    margin-bottom: 10%; 
}

.container-content button {
    margin-bottom: 10%;
}

.container-content h1 img {
    width: 12vh;
}


/*Estilo de la sección app */

section.app {
    width: 100%;
    background-color: #ffa914;
}

.iphone-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
    color: #fff;
    
}

.iphone-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 6em;
    color: #fff;
    border: 1px solid #fff;
    padding: 2em;
}

.iphone-content h1, .iphone-container h3 {
    margin-bottom: 1em;
}

.iphone-container h3 {
    margin-top: 1em;
}




/* Sección driver */

figure.driver-image {
    background-image: url("../assets/images/conduce.jpg");
    width: 100%;
    height: 50vh;
    background-size: cover; 
    background-position: 65% 50%;
    display: flex;
    align-items: center; 
}

.driver-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #fff;  
}

.driver-content h4 {
    padding-left: 0;
}

.driver-content button {
  padding: 1em 1.5em;
  background: #ffa914;
  color: #fff;
  border: none;
}


/* Sección rate */

.rate-container {
    background-color: #ffa914;
    color: #fff;
}

.rate h3 {
    margin-bottom: 2em;
}

.routes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.routes img {
    margin-right: 1em;
}

.routes pre {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    font-size: 1.5em;   
}

.rate-container button {
    margin-top: 1.5em;
    text-transform: uppercase;
    padding: 0.8em 2em;
}

.rate-container figure {
    margin-top: 5em;
    margin-bottom: 4em;
    border: 1px solid #fff;
    padding: 1.5em;
}

/* Footer */

.footer-content {
    background-color: rgb(24, 23, 23);
    color: #fff;
    padding-bottom: 1em;
}

.footer-content img.logo-lab {
    margin-top: 2em;
}

.footer-list li{
    margin-bottom: 1em;
}

.logo-store img {
    margin-top: 2em;
}

 /*MODALES*/

    /*Modal de iniciar sesión */
    .mod-log-in {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button.close {
        align-self: flex-end;
    }

    button.loging {
        background-color: #ffa914;
        color: #fff;
        border: none;
        margin-bottom: 1.2em;
    }

    .mod-log-in a {
        color: rgb(179, 2, 2);
    }

    .modal-content {
        background-color: #0f9e97;
    }

    form {
        background-color: #fff;
        width: 70%;
        padding-top: 1em;
        
    }




/* Media query para dektop */
@media screen and (min-width: 769px) {
    .navbar-collapse {
       margin-top: 4em;
    }

    /*Estilo de la imagen en desktop*/

    .taxi-container{
        margin-top: 40px;
    }

    .taxi-image figure {
        width: 90%;  
        height: 80vh; 
        background-repeat: no-repeat;
        background-position: 0% 95%;        
    }

    
    /*Contenedor que aparece en el desktop */
    .container-content {
        flex-direction: column;
        justify-content: flex-start;
     }


    /*Estilo del div register */
    .register h3.last {
        margin-top: 0;
        margin-bottom: 1em;
    }

    .register h3.first {
        margin-top: 1.5em;
        margin-bottom: 0;
    }
    
    .register button {
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 0.5em 1em;
    }

    .container-content h4 img {
        width: 8vh;
    } 
     

    /*Estilo del div option */
    .option  {
       display: flex !important;
       justify-content: space-between;
       align-items: center;
    }

    .option hr {
        width:25%;
    }
    
    
    /*Estilo del div-register-driver */
    .register-driver button {
        margin-bottom: 2em;
    }

    /* Sección app */

    section.app {
        width: 90%;
        height: 55vh;
    }


    .iphone-container {
        padding-left: 0;
    }
  
    .iphone-content {
        margin-top: 2.5em;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;       
    }

    .iphone-content img {
        width: 25%;
        margin-left: 5%;
    }

    .paragraph-desktop h2 {
        margin-left: 2%;
        margin-bottom: 1em;
    }

    .paragraph-desktop p {
        font-size: 1.3em;
        margin-left: 0;
        margin-bottom: 1em;
    }

    /*Estilo de la sección driver */

    .become-driver {
        width: 90%;
    }

    .driver-content button {
        padding: 1em 1.5em;
        background: #ffa914;
        color: #fff;
        border: none;
    }


    .driver-content {
        background-color: rgba(63, 63, 63, 0.5);
        height: 50vh;
        justify-content: center;
    }

    .driver-content h4 {
        padding-left: 0
    }

    /*Estilo de la sección rate */

    .rate-section {
        width: 90%;
    }

    .rate-container {
        height: 60vh; 
    }

    .routes {
        flex-direction: row;
        justify-content: flex-start;
    }
  

    .rate-section figure {
        width: 20%;
        padding: 1em;
    }

    .rw-flex {
        display: flex;
        align-items: flex-start;
    }

    /*Footer */

    footer {
        width: 90%;
    }

    .footer-list2 li {
        margin-bottom: 1em;
    }

/*
.footer-icons {
    margin-left: 10%;
} */

    .footer-icons  img {
        width: 50%;
        margin-bottom: 1.5em;
    }

    .footer-content .hr-1 {
    width: 83%;
    }   

    .footer-menu {
        display:flex;
        justify-content: center;
        align-items: flex-end;  
    
    }

    .footer-icons .logo-store {
        align-self: flex-end;
    }

    /*MODALES DE EXCLUSIVO DE DESKTOP */

    /* Modal de regístrate */

    

}